# Base Dependencies
numpy
pandas

# time manipulation
datetime
python-dateutil==2.8.2

# SQL
sqlalchemy
sqlalchemy.pool
sqlalchemy.engine


# Utilities
requests
itertools
urllib.parse
# error handling
logging