# Base Dependencies
numpy
json
pandas
os

# time manipulation
datetime
date
dateutil.relativedelta

# SQL
sqlalchemy
sqlalchemy.pool
sqlalchemy.engine


# Utilities
requests
itertools
urllib.parse
# error handling
logging